.advogados {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advogado__item {
    text-align: center;
    margin-left: 8px;
    width: 30%;
}

.img__item {
    border-radius: 50%;
    width: 200px;
}

@media screen and (max-width: 997px) {
    .advogados {
        flex-direction: column;
        width: 100%;
    }
    .thumbnail {
        width: 100%;
    }

    
    
}

@media screen and (max-width: 675px) {
   
}