.cabecalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho__titulo {
    align-items: center;
    color: var(--cor-titulo-principal);
    display: flex;
    font-size: 2.5rem;
    margin-left: 16px;
    text-decoration: none;
}

@media screen and (max-width: 997px) {
    .cabecalho {
        flex-direction: column;
        width: 100%;
    }
    .cabecalho__titulo {
        justify-content: center;
    }
}